.p-home {
    position: relative;
}

.p-home .availability-form {
    position: relative;
    margin-top: -50px;
    z-index: 2;
}

@media screen and (max-width: 575px) {
    .p-home .availability-form {
        margin-top: 25px;
        padding: 0 35px;
    }
}